<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-button (click)="traceRoute(directionsService, directionsRenderer)">Save</ion-button>
    </ion-item>
  </ion-list>
  <div id="map">        
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="start">
  <ion-fab-button><ion-icon name="compass-outline" (click)="ubicate()"></ion-icon></ion-fab-button>
</ion-fab>

