<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  

  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <ion-list>

      <ion-item lines="none">
        <ion-input inputmode="text" formControlName="username" ></ion-input>
      </ion-item>
      
      <div *ngIf= "username.valid" >
        {{username.value}} is available
      </div>

      <div *ngIf= "username.pending" >
        Hold tigh ... Checking availability of {{username.value}} 
      </div>

      <ion-item lines="none">
        <ion-input inputmode="text" formControlName="password"></ion-input>
      </ion-item>

      <div *ngFor="let error of errorMessages.password">
        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item lines="none">
        <ion-button [disabled]="!loginForm.valid" type="submit" (click)="logForm()">Login </ion-button>
      </ion-item>
      
    </ion-list>
  </form>
</ion-content>
