

ion-input{
    border-radius:8px;
    border: solid 1px #C7DCE7; 
    text-align:center;    
    min-width: 60% !important;
    max-width: 60% !important;
}

.center-all{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    align-content: center;
}
ion-item{
    margin-top: 100;
    margin-left: 10;
    margin-right: 10;
    margin-bottom: 100;
}


ion-spinner{
    color: #80B6D2;
}

ion-button{
    text-align:center;  
}

.col-center{
    text-align: center;
}

    

.col2-center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}



